
body{
    background-image: url('img/bg3.png');
    background-repeat: no-repeat;
    color: white;
    line-height: 2.5em;
    font-family: sans-serif;
    font-size: 0.8em;
}
img{
    max-width: 100%;
}
.container{
    text-align: center;
    width: 27%;
    background:transparent;
  margin: 5% 35%;
  padding: 5px;
  box-shadow: 1px 2px 5px 3px #ffffff;
}
.user{
    width: 90%;
}
#img{
    padding-top: 1em;
}
h3{
    padding: 0;
    margin: 2px;
    font-family: sans-serif;
    font-size: 1.5em;
}
.pass{
    width: 90%;
}
.submit{
    width: 95%;
    background-color:blue;
    cursor: pointer;
}

.acc{
    padding: 2em 0 0 0;
    
}
button{
    width: 90%;
    padding: 0.7em;
    background-color: initial;
    color: #ffffff;
    border: 2px solid rgb(9, 72, 243);
    margin-top: -10px;
    cursor: pointer;
}
.forget{
    margin: 2em 0 0 0;
}
input{
    background-color: #A480AC;
    border: none;
    border-radius: 5px;
    padding: 0.7EM;
    color: white;
}
::placeholder{
    color: white;
}